@font-face {
  font-family: "iconfont"; /* Project id 5091456 */
  src: url('iconfont.woff2?t=1766393521843') format('woff2'),
       url('iconfont.woff?t=1766393521843') format('woff'),
       url('iconfont.ttf?t=1766393521843') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-arrow-left:before {
  content: "\e609";
}

.icon-delete_rubbish:before {
  content: "\e6ff";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-cc-arrow-right:before {
  content: "\e601";
}

.icon-M:before {
  content: "\e600";
}

.icon-shopping:before {
  content: "\e7cf";
}

